*{
    font-family: 'Suez One', serif;
}
html{
    height: 100%;
}
body{
    background-color: rgba(244,245,247,255);
    /* background-color: yellowgreen; */
    height: 100%;  
    overflow: hidden;  
}

.wrapper {
    height: 100%;
}
nav {
    position: fixed;
    float: left;
    width: 9%;
    min-width: 143px;
    top: 125px;
    padding-left: 0px !important;
    padding-right: 0% !important;
    height: 100%;
    background-color: rgba(244,245,247,255);
    /* box-shadow: 0 1rem 3rem -2px rgba(0,0,0,.175)!important; */
        box-shadow: 15px 0 1rem 0 rgba(0,0,0,.175)!important;

}
.container-fluid img {
    box-shadow: 15px 0 1rem 0 rgba(0,0,0,.175)!important;
}
.lesson,a:hover {
    background-color: rgba(208,224,237,255);
    border-left: #366dca 7px solid;
    color: black !important;
    
}

#main {
    width: 80%;
    float: left;
    margin-top: 155px;
    background-color: rgba(244,245,247,255);
    margin-left: 20px;
    }

#main .videos {
    position: absolute;
    left: 55px;
    top: 20px;
    color: rgba(136,146,160,255);
}
#main .content-wrapper {
    position: relative;
    width: 100%; 
    margin-top: 120px;
    margin-left: 200px;
}
#main input[type=text] {
    position: relative;
    width: 70%;
    border: none;
    padding: 10px 10px 10px 20px;
    border-radius: 8px;
    
}
#main span {
    position: absolute;
    top: 75px;
    left: 35%;
    
}

.file {
    width: 170px !important;
    height: 170px;
    margin-top: 50px;
    background-color: white;
    }

    .collapse,ul,li,a {
    width: 100%;
}
.ml-4{
    margin-left: 2.2rem !important;
}

@media only screen and (max-width: 793px) {
    .navbar{
      flex-wrap: nowrap;
  }
 #main {
        width: 57%;
    float: left;
  }
  #main .content-wrapper {
      margin-left: 80px;
  }
  #main .content-wrapper .file {
      margin-top: 60px;
  }

}

@media only screen and (max-width: 585px) {
    body{
        overflow: auto;
    }
    nav {
        min-width: none;
        width: 100%;
        height: auto;
    }
    nav ul li a {
        align-items: center;
    }
    .navbar-toggler {
        margin-left: auto;
    }
    .ml-4{
        margin-left: 0rem !important;
    }
 #main {
     width: 100%;
 }
    #main .content-wrapper {
        width: 100% !important;
    }
}